{% extends 'adminbase.html.twig' %}

{% block title %}Ev index{% endblock %}

{% block body %}
<SCRIPT language="JavaScript" type="text/javascript">
function openWin( windowURL, windowName, windowFeatures ) { window.open( windowURL, windowName, windowFeatures ); }
</SCRIPT>

<div class="container-fluid">
    <div class="page-wrapper">
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-12 d-flex no-block align-items-center">
                    <h4 class="page-title">Home List</h4>
                    <div class="ml-auto text-right">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="\admin">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">RentHome</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">

                            <h3>Rent Home</h3>

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Category</th>
                                        <th>Title</th>
                                        <th>Keywords</th>
                                        <th>Description</th>
                                        <th>Image</th>
                                        <th>Star</th>
                                        <th>Email</th>
                                        <th>Status</th>
                                        <th>Gallery</th>
                                        <th>Show</th>
                                        <th>Edit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for ev in evs %}
                                    <tr>
                                        <td>{{ ev.id }}</td>
                                        <td>{{ ev.catname }}</td>
                                        <td>{{ ev.title }}</td>
                                        <td>{{ ev.keywords }}</td>
                                        <td>{{ ev.description }}</td>
                                        <td><img src="{{ asset ('uploads/images/' ~ ev.image) }}" height="40"></td>
                                        <td>{{ ev.star }}</td>
                                        <td>{{ ev.email }}</td>
                                        <td>{{ ev.status }}</td>
                                        <td>
                                            <a
                                                href="javascript:openWin('{{ path('admin_image_new',{'id':ev.id}) }}','','toolbar=no,location=no, directories=0, status=no, top=50,left=100, menuBar=no, scrollBars=yes,resizable=no, width=900, height=600'); ">
                                                <img src="{{ asset ('assets/admin/img') }}/gallery.png" height="40"></a>
                                        </td>
                                        <td>
                                            <a href="{{ path('admin_ev_show', {'id': ev.id}) }}"><button
                                                    type="button" class="btn btn-info">show</button></a>
                                        </td>
                                        <td>
                                            <a href="{{ path('admin_ev_edit', {'id': ev.id}) }}"><button
                                                    type="button" class="btn btn-dark">edit</button></a>
                                        </td>
                                    </tr>
                                    {% else %}
                                    <tr>
                                        <td colspan="17">no records found</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <a href="{{ path('admin_ev_new') }}"><button type="button"
                                    class="btn btn-success btn-lg">Creat New</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}