<link href="{{ asset ('assets')}}/admin/dist/css/style.min.css" rel="stylesheet">
<link rel="icon" type="image/png" sizes="16x16" href="{{ asset ('assets')}}/admin/assets/images/favicon.png">

<form class="form-horizontal" role="form" name="image" action="{{ path('admin_image_new', {'id':id}) }}" method="post" enctype="multipart/form-data">
    <div class="card-body">
        <div class="form-group row">
            <label for="fname" class="col-sm-3 text-right control-label col-form-label">File Name</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="image_title" name="image[title]" maxlength="50" placeholder="File Name Here">
                <input type="hidden" class="form-control" id="image_ev" name="image[ev]" value="{{id}}">
            </div>
        </div>
        <div class="form-group row">
            <label for="lname" class="col-sm-3 text-right control-label col-form-label">Upload Image</label>
            <div class="col-sm-9">
					<input type="file" class="form-control-file" id="image_image" name="image[image]">
					<!--<label class="custom-file-label" for="image_image">Choose File</label>-->
            </div>
        </div>
    </div>
    <div class="border-top">
        <div class="card-body">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>

<!--start contact contant-->

<div class="row">
    <table class="table table-light mb-0">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            {% for image in images %}
            <tr>
                <td>{{ image.id }}</td>
                <td>{{ image.title }}</td>
                <td>
                    <img src="{{ asset('uploads/images/' ~ image.image) }}" height="40">
                </td>
                <td>
                    <form method="post" action="{{ path('admin_image_delete', {'id': image.id, 'hid': id}) }}"
                        onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ image.id) }}">
                        <button class="btn">Delete</button>
                    </form>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>