{% extends 'adminbase.html.twig' %}

{% block title %}User List{% endblock %}

{% block body %}
<SCRIPT language="JavaScript" type="text/javascript">
    function openWin(windowURL, windowName, windowFeatures) {
        window.open(windowURL, windowName, windowFeatures);
    }
</SCRIPT>

<div class="container-fluid">
    <div class="page-wrapper">
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-12 d-flex no-block align-items-center">
                    <h4 class="page-title">User Page</h4>
                    <div class="ml-auto text-right">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="\admin">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Category</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h1>Users</h1>

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Email</th>
                                        <!--<th>Roles</th>-->
                                        <th>Name</th>
                                        <th>Surname</th>
                                        <th>Image</th>
                                        <th>Status</th>
                                        <th>actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for user in users %}
                                    <tr>
                                        <td>{{ user.id }}</td>
                                        <td>{{ user.email }}</td>
                                        <!--<td>{{ user.roles ? user.roles|json_encode : '' }}</td>-->

                                        <td>{{ user.name }}</td>
                                        <td>{{ user.surname }}</td>
                                        <td><img src="{{ asset ('uploads/images/' ~ user.image) }}" style="height: 50px;"></td>
                                        <td>{{ user.status }}</td>

                                        <td>
                                            <a href="{{ path('admin_user_show', {'id': user.id}) }}"><button
                                                    type="button" class="btn btn-info">show</button></a>
                                            <a href="{{ path('admin_user_edit', {'id': user.id}) }}"><button
                                                    type="button" class="btn btn-dark">edit</button></a>
                                        </td>
                                    </tr>
                                    {% else %}
                                    <tr>
                                        <td colspan="11">no records found</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                            <a href="{{ path('admin_user_new') }}"><button type="button"
                                    class="btn btn-success btn-lg">Creat User</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}