{% extends 'homebase.html.twig' %}

{% block title %}{{setting[0].title}}{% endblock %}
{% block keywords %}{{setting[0].keywords}}{% endblock %}
{% block description %}{{setting[0].description}}{% endblock %}
{% block slider %}{% include('home/slider.html.twig') %}{% endblock %}
{% block body %}

<section id="recent-works">
    <div class="container">
        <div class="center wow fadeInDown">
            <h2>Öne Çıkan İlanlar</h2>
        </div>
        <div class="row">
        {% for rs in evs%}

            <div class="col-xs-12 col-sm-4 col-md-3" style="margin-bottom: 10px;">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="{{ asset ('uploads/images/' ~ rs.image) }}"  style="height: 200px">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <h3><a href="{{ path ('ev_show', {'id': rs.id})}}">{{ rs.title }}</a> </h3>
                            <p>{{ rs.description }}</p>
                            <a class="preview" href="{{ asset ('uploads/images/' ~ rs.image) }}" rel="prettyPhoto"><i
                                    class="fa fa-eye"></i> View</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        
        </div>
        <!--/.row-->
    </div>
    <br><br><hr>
    <!--/.container-->
    <div class="container">
        <div class="center wow fadeInDown">
            <h2>Son Eklenen İlanlar</h2>
        </div>
        <div class="row">
            {% for rs in evs%}

                <div class="col-xs-12 col-sm-4 col-md-3" style="margin-left: 10px; margin-bottom: 10px;">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="{{ asset ('uploads/images/' ~ rs.image) }}"  style="height: 200px">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="{{ path ('ev_show', {'id': rs.id})}}">{{ rs.title }}</a> </h3>
                                <p>{{ rs.description }}</p>
                                <a class="preview" href="{{ asset ('uploads/images/' ~ rs.image) }}" rel="prettyPhoto"><i
                                            class="fa fa-eye"></i> View</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</section>
<!--/#recent-works-->
{% endblock %}