{% extends 'homebase.html.twig' %}

{% block title %}{{ app.user.name }}-Profile{% endblock %}

{% block body %}
<section id="content" class="shortcode-item">
    <div class="container">
        <div class="row">
            <div class="col-xs-4 col-sm-2">

                <div class="tab-wrap">
                    <div align="center" class="media">
                        {{ include('user/usermenu.html.twig') }}

                        <!--/.media-body-->
                    </div>
                    <!--/.media-->
                </div>
                <!--/.tab-wrap-->
            </div>
            <!--/.col-sm-6-->

            <div align="center" class="col-xs-8 col-sm-10">

                <table class="table">
                    <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ app.user.id }}</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>{{ app.user.email }}</td>
                        </tr>
                        <tr>
                            <th>Roles</th>
                            <td>{{ app.user.roles ? app.user.roles|json_encode : '' }}</td>
                        </tr>
                        <tr>
                            <th>Password</th>
                            <td>{{ app.user.password }}</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>{{ app.user.name }}</td>
                        </tr>
                        <tr>
                            <th>Surname</th>
                            <td>{{ app.user.surname }}</td>
                        </tr>
                        <tr>
                            <th>Image</th>
                            <td><img src="{{ asset ('uploads/images/' ~ app.user.image) }}" height="70"></td>
                        </tr>
                        <tr>
                            <th>Status</th>
                            <td>{{ app.user.status }}</td>
                        </tr>
                        <tr>
                            <th>Created_at</th>
                            <td>{{ app.user.createdAt ? app.user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                        </tr>
                        <tr>
                            <th>Updated_at</th>
                            <td>{{ app.user.updatedAt ? app.user.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                        </tr>
                    </tbody>
                </table>
                <a href="{{ path('user_edit', {'id': app.user.id}) }}"><button type="button"
                        class="btn btn-info">edit</button></a>

            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</section>
<!--/#content-->

{% endblock %}